<!DOCTYPE html>
<html lang="en">

<head>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

   <link href="/public/css/osahan.css" rel="stylesheet">
  

</head>

<body>
  
  <div class="container-fluid">

    <div class="row" style="margin-top:10%">
      <div class="col-md-12">
        <div class="text-center">
          <div class="error1 mx-auto" >403</div>
          <p class="lead mb-5">Bạn không được phép truy cập vào trang này!</p>
            <a href="/">&larr; Quay về trang chủ</a>

        </div>
      </div>
    </div>

    </div>

</body>

</html>
